[FORMAT]
2.0

[DATA FILE]
data/bnsAle2D.h

[ALE TEST]
PLUNGINGAIRFOIL
#SOLVEMESH
#BOX

[MESH FILE]
mesh/naca0012.msh
#PMLBOX
#BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
40

[BOX NY]
40

[BOX NZ]
20

[BOX DIMX]
20

[BOX DIMY]
20

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
3

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.001

[SPEED OF SOUND]
1.0

[PML PROFILE ORDER]
4

[PML SIGMAX MAX]
50

[PML SIGMAY MAX]
50

[PML INTEGRATION]
COLLOCATION

[TIME INTEGRATOR]
LSERK4

[START TIME]
0

[FINAL TIME]
500

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
bns


#################################################
################## MDS Options ##################
#################################################

# can be PCG, FPCG, NBPCG, NBFPCG, PGMRES or PMINRES
[MDS LINEAR SOLVER]
PCG

[MDS DEFORMATION METHOD]
#LAPLACIAN
LINEARELASTIC

# can be NONE only
[MDS PRECONDITIONER]
NONE

