[FORMAT]
2.0

[DATA FILE]
data/bnsAleFish3D.h

[ALE TEST]
CARANGIFORMFISH

[MESH FILE]
#mesh/fish_coarsest.msh
#mesh/fish_fine.msh
mesh/fish_production.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
6

[BOX NX]
24

[BOX NY]
24

[BOX NZ]
24

[BOX DIMX]
6.28318530718

[BOX DIMY]
6.28318530718

[BOX DIMZ]
6.28318530718

[BOX BOUNDARY FLAG]
-1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
#Re720
#0.0001388888
#Re110
#0.00090909
#0.000227272
#Re2400
#0.000041666
#Re5800
0.00001724137
#Re17000
#0.00000588235
#Re36000
#0.00000277777

[SPEED OF SOUND]
1.0

[PML PROFILE ORDER]
3

[PML SIGMAX MAX]
50

[PML SIGMAY MAX]
50

[PML INTEGRATION]
CUBATURE

[CFL NUMBER]
1.0

[TIME INTEGRATOR]
#LSERK4
SARK4

[START TIME]
0

[FINAL TIME]
#Re36000
#42.857143
#Re17000
#41.379310
#Re5800
#35.294118
58.823530
#Re2400
#28.5761619
#47.619048
#Re720
#21.428571

[OUTPUT INTERVAL]
#Re36000
#0.071429
#Re17000
#0.068966
#Re5800
#0.058824
0.294118
#Re2400
#0.0047619
#0.238095
#Re720
#0.035714

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
/gpfs/scratch/etur79/fish/Re5800/bns


#################################################
################## MDS Options ##################
#################################################

# can be PCG, FPCG, NBPCG, NBFPCG, PGMRES or PMINRES
[MDS LINEAR SOLVER]
PCG

# Linear Elasticity does not work with PML
[MDS DEFORMATION METHOD]
LAPLACIAN
#LINEARELASTIC

# can be NONE, PARALMOND (Only for Laplacian deformation)
[MDS PRECONDITIONER]
NONE
#PARALMOND

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[MDS PARALMOND CYCLE]
VCYCLE

# can be SMOOTHED or UNSMOOTHED
[MDS PARALMOND AGGREGATION]
SMOOTHED

# can be DAMPEDJACOBI or CHEBYSHEV
[MDS PARALMOND SMOOTHER]
CHEBYSHEV

# can be any integer >0
[MDS PARALMOND CHEBYSHEV DEGREE]
2

###########################################
