[FORMAT]
2.0

[DATA FILE]
data/bnsAleConstant2D.h

[ALE TEST]
#PLUNGINGAIRFOIL
#SOLVEMESH
BOX

[MESH FILE]
#PMLBOX
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
10

[BOX NY]
10

[BOX NZ]
20

[BOX DIMX]
20

[BOX DIMY]
20

[BOX BOUNDARY FLAG]
-1

[POLYNOMIAL DEGREE]
3

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.001

[SPEED OF SOUND]
14.0

[PML PROFILE ORDER]
4

[PML SIGMAX MAX]
50

[PML SIGMAY MAX]
50

[PML INTEGRATION]
CUBATURE

[TIME INTEGRATOR]
#LSERK4
SARK4

[START TIME]
0

[FINAL TIME]
10

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
bns


#################################################
################## MDS Options ##################
#################################################

# can be PCG, FPCG, NBPCG, NBFPCG, PGMRES or PMINRES
[MDS LINEAR SOLVER]
PCG

# Linear Elasticity does not work with PML
[MDS DEFORMATION METHOD]
LAPLACIAN
#LINEARELASTIC

# can be NONE, PARALMOND (Only for Laplacian deformation)
[MDS PRECONDITIONER]
NONE
#PARALMOND

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[MDS PARALMOND CYCLE]
VCYCLE

# can be SMOOTHED or UNSMOOTHED
[MDS PARALMOND AGGREGATION]
SMOOTHED

# can be DAMPEDJACOBI or CHEBYSHEV
[MDS PARALMOND SMOOTHER]
CHEBYSHEV

# can be any integer >0
[MDS PARALMOND CHEBYSHEV DEGREE]
2

###########################################