[FORMAT]
2.0

[DATA FILE]
data/mdsTest3D.h

[MESH FILE]
#BOX
#square_coarse.msh
square3D.msh

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
6

[BOX NX]
20

[BOX NY]
20

[BOX NZ]
20

[BOX DIMX]
1

[BOX DIMY]
1

[BOX DIMZ]
1

[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
1

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[LAMBDA]
1

[MU]
0.35

# can be LAPLACIAN, or LINEARELASTIC
[DEFORMATION METHOD]
LAPLACIAN
#LINEARELASTIC

# can be PCG, FPCG, NBPCG, NBFPCG, or PGMRES
[LINEAR SOLVER]
PCG

# can be NONE, JACOBI, PARALMOND (Only for Laplacian deformation)
[PRECONDITIONER]
NONE
#JACOBI
#PARALMOND

###########################################

########## ParAlmond Options ##############

# can be KCYCLE, or VCYCLE
# can add the EXACT and NONSYM option
[PARALMOND CYCLE]
VCYCLE

# can be SMOOTHED or UNSMOOTHED
[PARALMOND AGGREGATION]
SMOOTHED

# can be DAMPEDJACOBI or CHEBYSHEV
[PARALMOND SMOOTHER]
CHEBYSHEV

# can be any integer >0
[PARALMOND CHEBYSHEV DEGREE]
2

###########################################

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
mds_test

[VERBOSE]
TRUE
