[FORMAT]
2.0

[DATA FILE]
data/advectionTest2D.h

[MESH FILE]
#advectionTestFineL2.msh
#advectionTestFine.msh
#advectionTest.msh
#advectionTestCoarse.msh
bumpRect.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
3

[BOX NX]
20

[BOX NY]
20

[BOX NZ]
20

[BOX BOUNDARY FLAG]
-1

[POLYNOMIAL DEGREE]
3

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[TIME INTEGRATOR]
LSERK4

[START TIME]
0

[FINAL TIME]
5

[OUTPUT INTERVAL]
0.1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
advection

#################################################
################## MDS Options ##################
#################################################

# can be PCG, FPCG, NBPCG, NBFPCG, or PGMRES
[MDS LINEAR SOLVER]
PCG

[MDS DEFORMATION METHOD]
#LAPLACIAN
LINEARELASTIC
